[submodule "common"]
	path = common
	url = https://code.google.com/p/bi-map.common
[submodule "containers"]
	path = containers
	url = https://code.google.com/p/bi-map.containers
[submodule "math"]
	path = math
	url = https://code.google.com/p/bi-map.math
[submodule "mcmc"]
	path = mcmc
	url = https://code.google.com/p/bi-map.mcmc
[submodule "eesampler"]
	path = eesampler
	url = https://code.google.com/p/bi-map.eesampler
