[submodule "common"]
	path = common
	url = ssh://dev1/slow/bioinfo/vcs/git/astukalov/bi-map-kin/common.git
[submodule "containers"]
	path = containers
	url = ssh://dev1/slow/bioinfo/vcs/git/astukalov/bi-map-kin/containers.git
[submodule "math"]
	path = math
	url = ssh://dev1/slow/bioinfo/vcs/git/astukalov/bi-map-kin/math.git
[submodule "mcmc"]
	path = mcmc
	url = ssh://dev1/slow/bioinfo/vcs/git/astukalov/bi-map-kin/mcmc.git
[submodule "eesampler"]
	path = eesampler
	url = ssh://dev1/slow/bioinfo/vcs/git/astukalov/bi-map-kin/eesampler.git
